/* colors: 
#FBF6F0
#DFF2EC
#FAF4B7
#CDF0EA
#65C7C7 
#007878
#ECC5FB
*/

.header {
    padding: 5px;
    background-color: #65C7C7;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imageTitle {
    display: none;
}

.imageLogo {
    /* border: solid 1px black; */
    margin: 2px;
    height: 92%;
    width: auto;

}

.btn_SignOut,
.btnPost {
    background-color: #ECC5FB;
    border: solid 2px #f3f1dc;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0000005b;
    text-align: center;
    color: #000000;
    font-size: 1rem;
    cursor: pointer;
}

.btnPost {
    background-color: #65C7C7;
}

.btn_SignOut::before {
    content: 'X';
}

.sectionContainer {
    margin: 10px;
    padding: 10px;
    /* border: solid 1px rgb(248, 186, 255); */
    box-shadow: 2px 2px 10px #0000005b;
    background-color: #DFF2EC;
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
}

.formContainer-principalPage {
    padding: 5px;
    margin-bottom: 5px;
    height: 100%;
    /* border: solid 1px rgb(238, 255, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titlePost {
    height: 20px;
    width: 80%;
    border-style: none;
}

.inputPost {
    height: 80px;
    width: 80%;
    margin: 10px 0px 10px 0px;
    border-style: none;
}


.postContainer {
    /* border: solid 1px black; */
    background-color: #FBF6F0;
    height: 100%;
}

.task {
    /* border: solid 1px #007878; */
    background-color: #D9D9D9;
    box-shadow: 2px 1px 5px #0000005b;
    margin: 8px;
    padding: 5px;
}

.btnDelete {
    border-radius: 50%;
}

.footer {
    background-color: #65C7C7;
    height: 70px;
    width: auto;
}


@media all and (min-width: 768px) {
    .imageTitle {
        display: flex;
        margin: 2px;
        height: 92%;
        width: auto;
    }

    .btn_SignOut::before {
        content: 'Cerrar Sesión';
    }
}

@media all and (min-width: 1024px) {
    .header {
        height: 130px;
        padding: 20px;
    }

    .imageLogo {
        margin-bottom: 20px;
    }
}